<div id="tchat">
</div>
<form action="javascript:onMessage(message)">
    <div>
        <input type="text" id="message">
    </div>
    <input type="submit" value="Envoyer">
</form>


<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const logged_user = "<%= logged_user %>";
    let div = document.getElementById("tchat") ;

    socket.onAny((event, ...args) => {
        //console.log(event, args)
    });
    socket.on("timeline", (messages) => {
        if (messages){
            messages.forEach(message => {
                let bubble = document.createElement("div");
                if (logged_user == message.user){
                    bubble.innerHTML =`<div style="color:red">${message.user}:</div><div>${message.content}</div><div>${message.time}</div>`;
                }else {
                    bubble.innerHTML =`<div>${message.user}:</div><div>${message.content}</div><div>${message.time}</div>`;
                }
                bubble.classList.add("bubble");
                div.appendChild(bubble);
            });
        }
    });

    socket.on("newMessage", (newMessage) => {
        let input = document.getElementById("message") ;
        input.value="";
        let bubble = document.createElement("div");
        if (newMessage.user == logged_user){
            bubble.innerHTML =`<div style="color:red">${newMessage.user}:</div><div>${newMessage.content}</div><div>${newMessage.time}</div>`;        
        }else {
            bubble.innerHTML =`<div>${newMessage.user}:</div><div>${newMessage.content}</div><div>${newMessage.time}</div>`;
        }
        bubble.classList.add("bubble");
        div.appendChild(bubble);
    });

    function onMessage(message) {
        socket.emit("message", {message: message.value, user:logged_user});
    }
</script>