

<!-- Afficher un seul form à la fois -->
<form action="javascript:onMessage(message)">
    <div>
        <input type="text" id="message">
    </div>
    <input type="submit" value="Envoyer">
</form>
<form action="javascript:onUsernameSelection(pseudo)">
    <h3>Connexion</h3>
    <div>
        <label>Pseudo</label>
        <input type="text" id="pseudo">
    </div>
    <input type="submit" value="Accéder au tchat">
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
        const socket = io("http://localhost:8080", { autoConnect: false });
    let logged_user= null
    socket.onAny((event, ...args) => {
        //console.log(event, args)
    });

    function onUsernameSelection(username) {
        logged_user = username.value
        socket.auth = { username:username.value };
        socket.connect();
    }
    
    socket.on("newMessage", (newMessage) => {
        console.log(newMessage);
        if (newMessage.user == logged_user){
            // Le mettre en rouge
        }
        // Afficher le message
    });

    function onMessage(message) {
        socket.emit("message", {message: message.value});
    }
</script>