<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TP API</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" >
  </head>
  <body>
    <style>
    </style>
    <%- include('header', base_url); %>
    <main>
      <h1><%=title%></h1>
      <%-include(page,base_url); %>
    </main>
    <%- include('footer'); %>

    </body>
    </html>
