<form action="/tchat" method="post">
    <h3>Connexion</h3>
    <div>
        <label>Pseudo</label>
        <input type="text" id="pseudo" required name="pseudo">
    </div>
    <input type="submit" value="Accéder au tchat" class="button">
</form>